.Header{
    height:40px;
    /* background: #C0B3BC; */
    width:100vw;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    color:white;
    text-align: center;
    padding-top:20px;
    font-size: large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sunny{
    background-color:  #C0B3BC;
}

.cloudy{
    background-color:skyblue;
}

.cloud{
    
    background: lightblue;
}

.clear{
    
    background: rgb(97, 187, 218);
}

.dust{
    background-color: burlywood;
}


@media only screen and (min-width:600px) {
    .Header {
        justify-content: center;
        
    }
}