span{

    display:flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     position: relative;
     margin-top: 10vh;
}

input{
    width: 40%;
    padding:10px;
    border:1px solid rgba(255, 255, 255, 0);
    border-bottom:1px solid rgb(178, 178, 247);
    
}

::placeholder{
    color:rgb(21, 21, 63);
}

input:focus {
  outline: none;
   }

button {
    width:50px;
    height:30px;
    border:none;
    background-color:rgba(245, 222, 179, 0) ;
    cursor:pointer;
    color:rgb(21, 21, 63);
}